body{
    background-color: #201D1E;
}
.select-cafe-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ED1F26;
    font-size: 24px;
    color: #ffffff;
    background-image: url(http://lokal.lviv.ua/images/fryz_bg.png);
    background-size: 308px;
    background-position: bottom;
    background-repeat: no-repeat;
    font-weight: bold;
    text-transform: uppercase;
}

.select-cafe-header .panel-body{
    position: relative;
}

.select-cafe-header span{
    font-size: 16px;
    vertical-align: super;
    color: #ffffff;
    letter-spacing: 12px;
}

#homepage{
    padding-top: 54px;
    background-color: #201D1E;
}
#homepage #cafes .btn{color: #fff;transition:color .2s ease}
#homepage #cafes .btn:hover{box-shadow: none;color: #ADADAD;}

#cafes{
    padding-top: 15px;
}

#cafepage{
    padding-top: 20px;
}

#cafepage .select-cafe-header{
    position: static;
}

#cafeName{
    font-weight: bold;
    letter-spacing: 1.5px;
}

.table>thead>tr>th {
    color: white;
}

.breadcrumb{
    background-color: #201D1E;
}
.breadcrumb a{
    color: #777777;
}
.table > tbody > tr > td{
    border-top: 1px solid rgba(237, 31, 38, 0.08);
    color: #C5C5C5;
}

#homePageLink{
    color: white;
    display: block;
    position: absolute;
    left: 14px;
    top: 14px;
    transition:opacity .2s ease
}

#homePageLink:hover{
    opacity: .7;
}

@media (max-width: 767px) {
    .select-cafe-header .panel-body {
        padding: 15px 15px 15px 30px;
    }
}

#cafepage .select-cafe-header {
    position: static;
    margin-top: -20px;
    width: calc(100% + 40px);
    margin-left: -20px;
}